body {
    margin-left: 500px;
    border: solid 3px black;
    padding: 60px;
    margin-right: 500px;
}

h1 {
    border-top: solid 3px black;
    padding-top: 20px;
    font-style: italic;
}

h1 em {
    font-style: italic;
    color: darkmagenta;
}

h2 {
    border-bottom: solid 2px black;
    padding-bottom: 10px;
    width: 280px;
    color: rgb(92, 0, 18);
}

limit5 img{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon{
    cursor: pointer;
    height: 2rem;
}
